# uplink interfaces
set / interface ethernet-1/49
set / interface ethernet-1/49 admin-state enable
set / interface ethernet-1/49 subinterface 0
set / interface ethernet-1/49 subinterface 0 admin-state enable
set / interface ethernet-1/49 subinterface 0 ip-mtu 9000
set / interface ethernet-1/49 subinterface 0 ipv4
set / interface ethernet-1/49 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/49 subinterface 0 ipv4 address 192.168.21.0/31
set / interface ethernet-1/50
set / interface ethernet-1/50 admin-state enable
set / interface ethernet-1/50 subinterface 0
set / interface ethernet-1/50 subinterface 0 admin-state enable
set / interface ethernet-1/50 subinterface 0 ip-mtu 9000
set / interface ethernet-1/50 subinterface 0 ipv4
set / interface ethernet-1/50 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/50 subinterface 0 ipv4 address 192.168.22.0/31

# downlink interfaces
set / interface ethernet-1/1
set / interface ethernet-1/1 admin-state enable
set / interface ethernet-1/1 subinterface 0
set / interface ethernet-1/1 subinterface 0 type bridged
set / interface ethernet-1/1 subinterface 0 admin-state enable

# system interface configuration
set / interface system0
set / interface system0 admin-state enable
set / interface system0 subinterface 0
set / interface system0 subinterface 0 admin-state enable
set / interface system0 subinterface 0 ipv4
set / interface system0 subinterface 0 ipv4 admin-state enable
set / interface system0 subinterface 0 ipv4 address 10.0.1.2/32

# associating interfaces with net-ins default
set / network-instance default
set / network-instance default ip-forwarding
set / network-instance default ip-forwarding receive-ipv4-check false
set / network-instance default interface ethernet-1/49.0
set / network-instance default interface ethernet-1/50.0
set / network-instance default interface system0.0

# BGP configuration
set / network-instance default protocols
set / network-instance default protocols bgp
set / network-instance default protocols bgp admin-state enable
set / network-instance default protocols bgp autonomous-system 102
set / network-instance default protocols bgp router-id 10.0.1.2
set / network-instance default protocols bgp ebgp-default-policy
set / network-instance default protocols bgp ebgp-default-policy import-reject-all false
set / network-instance default protocols bgp ebgp-default-policy export-reject-all false
set / network-instance default protocols bgp group eBGP
set / network-instance default protocols bgp group eBGP export-policy [ export-local ]
set / network-instance default protocols bgp group eBGP afi-safi ipv4-unicast
set / network-instance default protocols bgp group eBGP afi-safi ipv4-unicast admin-state enable
set / network-instance default protocols bgp afi-safi ipv4-unicast
set / network-instance default protocols bgp afi-safi ipv4-unicast admin-state enable
set / network-instance default protocols bgp afi-safi ipv4-unicast multipath
set / network-instance default protocols bgp afi-safi ipv4-unicast multipath allow-multiple-as true
set / network-instance default protocols bgp afi-safi ipv4-unicast multipath maximum-paths 64
set / network-instance default protocols bgp neighbor 192.168.21.1
set / network-instance default protocols bgp neighbor 192.168.21.1 admin-state enable
set / network-instance default protocols bgp neighbor 192.168.21.1 peer-as 201
set / network-instance default protocols bgp neighbor 192.168.21.1 peer-group eBGP
set / network-instance default protocols bgp neighbor 192.168.22.1
set / network-instance default protocols bgp neighbor 192.168.22.1 admin-state enable
set / network-instance default protocols bgp neighbor 192.168.22.1 peer-as 202
set / network-instance default protocols bgp neighbor 192.168.22.1 peer-group eBGP

# iBGP config
set / network-instance default protocols bgp group iBGP-overlay
set / network-instance default protocols bgp group iBGP-overlay export-policy [ all ]
set / network-instance default protocols bgp group iBGP-overlay import-policy [ all ]
set / network-instance default protocols bgp group iBGP-overlay peer-as 100
set / network-instance default protocols bgp group iBGP-overlay afi-safi ipv4-unicast
set / network-instance default protocols bgp group iBGP-overlay afi-safi ipv4-unicast admin-state disable
set / network-instance default protocols bgp group iBGP-overlay afi-safi evpn
set / network-instance default protocols bgp group iBGP-overlay afi-safi evpn admin-state enable
set / network-instance default protocols bgp group iBGP-overlay local-as as-number 100
set / network-instance default protocols bgp group iBGP-overlay timers
set / network-instance default protocols bgp group iBGP-overlay timers minimum-advertisement-interval 1
set / network-instance default protocols bgp group iBGP-overlay timers connect-retry 1

set / network-instance default protocols bgp neighbor 10.0.2.1
set / network-instance default protocols bgp neighbor 10.0.2.1 peer-group iBGP-overlay
set / network-instance default protocols bgp neighbor 10.0.2.1 transport
set / network-instance default protocols bgp neighbor 10.0.2.1 transport local-address 10.0.1.2

set / network-instance default protocols bgp neighbor 10.0.2.2
set / network-instance default protocols bgp neighbor 10.0.2.2 peer-group iBGP-overlay
set / network-instance default protocols bgp neighbor 10.0.2.2 transport
set / network-instance default protocols bgp neighbor 10.0.2.2 transport local-address 10.0.1.2

# routing policy
set / routing-policy
set / routing-policy prefix-set local
set / routing-policy prefix-set local prefix 172.17.11.0/24 mask-length-range 24..32
set / routing-policy prefix-set local prefix 192.16.0.0/16 mask-length-range 16..32
set / routing-policy prefix-set local prefix 10.0.0.0/16 mask-length-range 16..32
set / routing-policy policy export-local
set / routing-policy policy export-local statement 10
set / routing-policy policy export-local statement 10 match
set / routing-policy policy export-local statement 10 match prefix-set local
set / routing-policy policy export-local statement 10 action
set / routing-policy policy export-local statement 10 action policy-result accept
set / routing-policy policy all
set / routing-policy policy all default-action
set / routing-policy policy all default-action policy-result accept

# tunnel interface
set / tunnel-interface vxlan1
set / tunnel-interface vxlan1 vxlan-interface 1
set / tunnel-interface vxlan1 vxlan-interface 1 type bridged
set / tunnel-interface vxlan1 vxlan-interface 1 ingress
set / tunnel-interface vxlan1 vxlan-interface 1 ingress vni 1

# mac vrf
set / network-instance vrf-1
set / network-instance vrf-1 type mac-vrf
set / network-instance vrf-1 admin-state enable
set / network-instance vrf-1 interface ethernet-1/1.0
set / network-instance vrf-1 vxlan-interface vxlan1.1

set / network-instance vrf-1 protocols
set / network-instance vrf-1 protocols bgp-evpn
set / network-instance vrf-1 protocols bgp-evpn bgp-instance 1
set / network-instance vrf-1 protocols bgp-evpn bgp-instance 1 admin-state enable
set / network-instance vrf-1 protocols bgp-evpn bgp-instance 1 vxlan-interface vxlan1.1
set / network-instance vrf-1 protocols bgp-evpn bgp-instance 1 evi 1
set / network-instance vrf-1 protocols bgp-evpn bgp-instance 1 ecmp 2
set / network-instance vrf-1 protocols bgp-vpn
set / network-instance vrf-1 protocols bgp-vpn bgp-instance 1
set / network-instance vrf-1 protocols bgp-vpn bgp-instance 1 route-target
set / network-instance vrf-1 protocols bgp-vpn bgp-instance 1 route-target export-rt target:100:1
set / network-instance vrf-1 protocols bgp-vpn bgp-instance 1 route-target import-rt target:100:1

# remote logging
set / system logging network-instance mgmt
set / system logging remote-server 172.80.80.45
set / system logging remote-server 172.80.80.45 transport udp
set / system logging remote-server 172.80.80.45 remote-port 1514
set / system logging remote-server 172.80.80.45 facility local6 priority match-above informational
